
    <div class="card text-center w-50 mx-auto shadow bg-light rounded" id="card-home">

        <div class="card-header border-warning">
        </div>

            <div class="card-body">
                <h5 class="card-title">Now you can upload your recipes</h5>
                <p class="card-text">Choose your options</p>
                <a href="/recipes" class="btn btn-secondary btn-lg btn-dark" role="button" aria-pressed="true">All Recipes</a>
                <a href="/recipes/add" class="btn btn-secondary btn-lg btn-dark" role="button" aria-pressed="true">New Recipe</a>
            </div>

        <div class="card-footer text-muted">
        </div>

    </div>
