<link rel="stylesheet" type="text/css" href="../css/style.css">

<div id="header">
    <h1><a href="/">Recipes</a></h1>
</div>


<h1>{{title}}</h1>
{{#each ingredients}}
<div>{{this}}</div>
{{/each}}
<h4>Description</h4>
<div class="description">
    <p>{{description}}</p>
</div>

<script src="./JS/scripts.js"></script>
</body>

</html>