<form action="/user/signin" method="POST" class="form-signin shadow p-3 mb-5 bg-light rounded" id="card-home">
<h3>Sign in</h3>
    <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="email@example.com">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button class="btn btn-secondary btn-lg btn-dark btn-block">SIGN IN</button>
</form>